.list {
  width: 300px;
  margin-left: 40%;
}
.plus {
  height: 60px;
  margin-top: 20px;
  background-color: rgb(228, 226, 226);
}
.plusItems {
  display: flex;
  padding: 5px;
}
.plusItems h3 {
  margin-left: 25px;
}
.plusButton {
  height: 50px;
  width: 50px;
}