.linkName p {
  margin: 0px;
  margin-left: -100px;
}
.linkUrl {
  margin-top: 20px;
}
.linkUrl p {
  margin: 0px;
  margin-left: -115px;
}
.addButton {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 85px;
  background-color: #000;
  color: #fff;
}
